.profile__wrapper {
  max-width: 430px;
  margin: 0 auto;
  padding-top: 54px;
}

.profile__title {
  margin: 0;
  text-align: center;
  margin-bottom: 110px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.profile__fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 189px;
  border: none;
}

.profile__wrapper-field {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
}

.profile__wrapper-field:not(:first-of-type) {
  border-top: 1px solid #E8E8E8;
}

.profile__label {
  cursor: pointer;
  white-space: nowrap;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000;
}

.profile__label:not(:last-of-type) {
  margin-bottom: 4px;
}

.profile__label:not(:first-of-type) {
  padding-top: 17px;
}

.profile__input {
  border: none;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  text-align: end;
  font-family: "Inter", Arial, Helvetica, sans-serif;;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #000;
}

.profile__input_error {
  color: #EE3465
}

.profile__error {
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.profile__btn-submit {
  cursor: pointer;
  width: 100%;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 15px;
  border: none;
  border-radius: 3px;
  background-color: #2BE080;
  text-align: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.profile__btn-submit:disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.profile__btn-redaction {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 6px;
  padding: 5px 30px;
  border: none;
  background-color: transparent;
  font-family: "Inter", Arial, Helvetica, sans-serif;;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #000;
}

.profile__btn-exit {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 5px 30px;
  border: none;
  background-color: transparent;
  font-family: "Inter", Arial, Helvetica, sans-serif;;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #EE3465;
}

.profile__btn-submit:hover,
.profile__btn-redaction:hover,
.profile__btn-exit:hover {
  opacity: .8;
}

.profile__btn-submit:focus,
.profile__btn-redaction:focus,
.profile__btn-exit:focus,
.profile__input:focus {
  outline: 1px solid #2BE080;
  outline-offset: 5px;
}

@media screen and (max-width: 768px) {
  .profile__wrapper {
    padding-top: 216px;
  }

  .profile__title {
    margin-bottom: 83px;
  }

  .profile__fieldset {
    margin-bottom: 179px;
  }
}

@media screen and (max-width: 550px) {
  .profile__wrapper {
    padding-top: 56px;
  }

  .profile__title {
    margin-bottom: 67px;
  }

  .profile__fieldset {
    margin-bottom: 348px;
  }

  .profile__btn-redaction {
    font-size: 12px;
    line-height: 14px;
  }

  .profile__btn-exit {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 14px;
  }
}
