.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  flex-basis: 1200px;
  padding-top: 160px;
  padding-bottom: 30px;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  background-color: #F5F5F5;
}

.promo__header {
  max-width: 730px;
  margin: 0;
  margin-bottom: 151px;
  text-align: center;
  font-weight: 400;
  letter-spacing: -2px;
  font-size: 50px;
  line-height: 58px;
  color: #000000;
}

.promo__list {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
