.navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation__item-signin:not(:first-child) {
  margin-left: 21px;
}

.navigation__item_type_logout:not(:first-child) {
  margin-left: 31px;
}

.navigation__link {
  text-decoration: none;
  opacity: 1;
  transition: opacity .3s ease-in-out,
              text-decoration .3s ease-in-out,
              font-weight .3s ease-in-out;
  color: #000;
}

.navigation__link_type_logout {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.navigation__link_type_signin {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.navigation__link:hover {
  opacity: .7;
}

.navigation__link:focus {
  outline: 1px solid #2BE080;
  outline-offset: 5px;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__link_enter {
  padding: 8px 20px;
  border: none;
  border-radius: 3px;
  background-color: #2BE080;
}

.navigation__link_profile {
  position: relative;
  padding-right: 45px;
  margin-left: 50px;
}

.navigation__link_profile::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 0;
  width: 26px;
  height: 30px;
  background-image: url('../../images/icon__account.svg');
  background-repeat: no-repeat;
  background-color: #F9F9F9;
  background-position: center;
  background-size: 11.5px 14px;
}

@media screen and (max-width: 768px) {
  .navigation__list-loggin {
    z-index: 5;
    position: absolute;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    top: 0;
    right: 0;
    width: 520px;
    padding-top: 160px;
    padding-bottom: 50px;
    background-color: #fff;
    transition: opacity .5s ease;
  }

  .navigation__list-loggin_active {
    visibility: visible;
    opacity: 1;
  }

  .navigation__link_type_signin {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .navigation__item-signin:not(:first-child) {
    margin-top: 28px;
    margin-left: 0;
  }

  .navigation__link_active {
    padding-bottom: 4px;
    border-bottom: 2px solid #000;
  }

  .navigation__link_profile {
    margin-left: 0;
    font-size: 14px;
    line-height: 16px;
  }

  .navigation__item-profile {
    margin-top: 625px;
  }
}


@media screen and (max-width: 550px) {
  .navigation__link_enter {
    padding: 7px 13px;
  }

  .navigation__link_type_logout {
    font-size: 10px;
  }

  .navigation__item_type_logout:not(:first-child) {
    margin-left: 13px;
  }

  .navigation__list-loggin  {
    width: 100%;
  }

  .navigation__item-profile {
    margin-top: 444px;
  }
}
