.header__container {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 38px;
    align-items: center;
    background-color: #fff;
}

.header__container_avtorization {
  padding-top: 70px;
}

.header__subtitle {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.header__link-logo {
  opacity: 1;
  width: 38px;
  height: 38px;
  transition: opacity .3s ease-in;
}

.header__link-logo:hover,
.header__link-logo_list_avtorization:hover {
  opacity: .7;
}

.header__link-logo:focus,
.header__link-logo_list_avtorization:focus {
  outline: 1px solid #2BE080;
  outline-offset: 5px;
}

.header__link-logo_list_avtorization {
  display: inline-block;
  margin-bottom: 40px;
  width: 38px;
  height: 38px;
  transition: opacity .3s ease-in-out;
}

.header__btn-burger {
  z-index: 6;
  cursor: pointer;
  display: none;
  position: relative;
  width: 44px;
  height: 38px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header__stripe-burger {
  display: block;
  position: absolute;
  top: 18px;
  left: 8px;
  width: 28px;
  height: 3px;
  background: #000;
  transition: backgroun .3s ease, transform .4s ease;
}

.header__stripe-burger::before,
.header__stripe-burger::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 28px;
  height: 3px;
  background-color: #000;
  transition-duration: 0.3s, 0.3s;
}

.header__stripe-burger::before {
  top: -10px;
  transition-property: top, transform;
}

.header__stripe-burger::after {
  bottom: -10px;
  transition-property: bottom, transform;
}

.header__stripe-burger_active .header__stripe-burger {
  background: none;
  transform: translateX(17px);
}

.header__stripe-burger_active .header__stripe-burger::before {
  top: 0;
  transform: rotate(45deg);
}

.header__stripe-burger_active .header__stripe-burger::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.header__stripe-burger_active .header__stripe-burger::before,
.header__stripe-burger_active .header__stripe-burger::after {
  width: 22px;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .header__btn-burger {
      display: block;
  }
}

@media screen and (max-width: 550px) {
  .header__container {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 32px;
  }
}
