.header__container {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 38px;
    align-items: center;
    background-color: #fff;
}

.header__container_avtorization {
  padding-top: 70px;
}

.header__subtitle {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.header__btn-burger {
  display: none;
}

.header__link-logo {
  opacity: 1;
  width: 38px;
  height: 38px;
  transition: opacity .3s ease-in;
}

.header__link-logo:hover,
.header__link-logo_list_avtorization:hover {
  opacity: .7;
}

.header__link-logo:focus,
.header__link-logo_list_avtorization:focus {
  outline: 1px solid #2BE080;
  outline-offset: 5px;
}

.header__link-logo_list_avtorization {
  display: inline-block;
  margin-bottom: 40px;
  width: 38px;
  height: 38px;
  transition: opacity .3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .header__btn-burger {
      display: block;
  }
}

@media screen and (max-width: 550px) {
  .header__container {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 32px;
  }
}
