@import url('./vendor/normolize.css');
@import url('./vendor/fonts/fonts.css');

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main {
  flex: 1;
}
